{% extends "base.html.twig" %}

{% block title %}Editer un commentaire{% endblock %}

{% block body %}
{% if is_granted('ROLE_ADMIN') %}
    
<div class="container mt-5">

    <a href="{{path('admin_commentaire_supprimer', {id: commentaire.id})}}" class="btn btn-danger" style="float: right">Supprimer</a>

    <h1 class="text-center">Editer le commentaire</h1>
    
    {{form_start(form)}}
    {{form_widget(form)}}
    <div class="text-center">
        <button type="submit" class="btn btn-primary">Envoyer</button>
    </div>
    {{form_end(form)}}
    
</div>
    
{% endif %}


{% endblock body %}

