{% extends "base.html.twig" %}

{% block title %}Inscription{% endblock title %}

{% block body %}

<div class="container">
    <h1 class="text-center">Nouvelle inscription</h1>

    {#-----------------------Affichage du formulaire envoyé par le controller----------------------#}
    {{form_start(form)}}
    {{form_widget(form)}}
    <div class="text-center">
        <button type="submit" class="btn btn-success">Confirmer</button>
    </div>
    {{form_end(form)}}
    {#----------------------------------------------------------------------------------------------#}
</div>
    
{% endblock body %}
