{% extends "base.html.twig" %}

{% block title %}Modification du mot de passe{% endblock title %}

{% block body %}

<div class="container">
    <h1 class="text-center">Modification du mot de passe</h1>

    {{form_start(form)}}
    {{form_widget(form)}}
    
    <div class="text-center">
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </div>

    {{form_end(form)}}
</div>
    
{% endblock body %}