{% extends "base.html.twig" %}

{% block title %}Ecrire un nouveau message{% endblock %}

{% block body %}

<div class="container">
    <h1 class="text-center">Nouveau message</h1>

    {{ dump(ip) }}

    {{form_start(form)}}
    {{form_widget(form)}}
    <div class="text-center">
        <button type="submit" class="btn btn-primary">Envoyer</button>
    </div>
    {{form_end(form)}}
    
</div>
    
{% endblock body %}
