{% extends "base.html.twig" %}

{% block title %}Création d'une catégorie{% endblock title %}


{% block body %}

<div class="container">
    <h1 class="text-center">Créer une nouvelle catégorie</h1>

    {{form_start(form)}}

    
      
       {{form_widget(form)}}
    
    <div class="text-center">
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </div>
    {{form_end(form)}}
</div>
    
{% endblock body %}


